body {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container > div {
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
p {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  height: 10vh;
}
#computer {
  background-color: rgba(255, 0, 0, 0.2);
  /* visibility: hidden; */
}
#user {
  background-color: rgba(0, 255, 0, 0.2);
}

img {
  height: 35vh;
  margin: 5vh;
}
button {
  width: 100px;
  border: none;
  padding: 10px 20px;
}

.hit {
  background-color: red;
}
.skip {
  background-color: green;
}
.check {
  background-color: black;
  color: white;
}

.score {
  position: absolute;
  width: 100px;
  margin: 0 auto;
  top: 0px;
}
.player {
  position: absolute;
  width: 100px;
  top: 10px;
  left: 10px;
}
.balance {
  position: absolute;
  width: 100px;
  top: 10px;
  right: 10px;
}

.result {
  position: absolute;
  width: 100px;
  margin: 0 auto;
  bottom: 0px;
}
.buttons {
  display: none;
  flex-direction: column;
}
